<configuration scan="true" scanPeriod="30 seconds">
  <springProfile name="prod">
    <jmxConfigurator />
    <appender name="CLOUDWATCH" class="com.j256.cloudwatchlogbackappender.CloudWatchAppender">
      <region>us-east-1</region>
      <accessKeyId></accessKeyId>
      <secretKey></secretKey>
      <logGroup>kolibri-loggroup</logGroup>
      <logStream>kolibri-logstream</logStream>
      <layout>
        <pattern>%d{HH:mm:ss.SSS} - %-5level - %logger{20} - %msg%n</pattern>
      </layout>
      <maxBatchSize>32</maxBatchSize>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
      </encoder>
    </appender>
    <root level="INFO">
      <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.snava.cubanews" level="INFO" >
      <appender-ref ref="CLOUDWATCH"/>
    </logger>
  </springProfile>
  <springProfile name="dev">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} - %-5level - %logger{20} - %msg%n</pattern>
      </encoder>
    </appender>
    <root level="INFO">
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>
</configuration>