<configuration scan="true" scanPeriod="30 seconds">
  <jmxConfigurator />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="CLOUDWATCH" class="com.j256.cloudwatchlogbackappender.CloudWatchAppender">
    <region>us-east-1</region>
    <accessKeyId></accessKeyId>
    <secretKey></secretKey>
    <logGroup>test-loggroup</logGroup>
    <logStream>test-logstream</logStream>
    <layout>
      <pattern>[%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
    </layout>
    <maxBatchSize>32</maxBatchSize>
  </appender>

  <logger name="com.snava.cubanews" level="DEBUG" >
    <appender-ref ref="CLOUDWATCH"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>